.heading{
  margin-top: 20px;
  text-align: left;
  font-weight: bold;
}
.content{
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: bold;
}
.application-image{
  margin-top: 20px;
  width: 100%;
  height: 100%;
}


