<header>
  <nav *ngIf="screenSize ==='small'" class="header-nav" #navElement>
    <mat-toolbar class="small app-toolbar">
      <mat-toolbar-row>
        <mat-icon (click)='toggleNav()' class="white-icon">menu</mat-icon>
        <span class="spacer-small"></span>
        <div class="brand"><img [routerLink]="['/join-network']" class="col-md-2 logo" src="../assets/Spectrangle.png" alt="spectrangle logo"/></div>
      </mat-toolbar-row>
      <mat-toolbar-row *ngIf="navState==='open'"><a class="small-nav-sector-a" (click)='toggleNav()' [routerLink]="['/home']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}">Home</a></mat-toolbar-row>
      <mat-toolbar-row *ngIf="navState==='open'"><a class="small-nav-sector-a" (click)='toggleNav()' [routerLink]="['/appointment']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}">Request service</a></mat-toolbar-row>
      <mat-toolbar-row *ngIf="navState==='open'"><a class="small-nav-sector-a" (click)='toggleNav()' [routerLink]="['/our-culture']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}">Our culture</a></mat-toolbar-row>
      <mat-toolbar-row *ngIf="navState==='open'"><a class="small-nav-sector-a" (click)='toggleNav()' [routerLink]="['/application']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}">Join us</a></mat-toolbar-row>
    </mat-toolbar>
  </nav>

  <nav *ngIf="screenSize ==='medium' || screenSize ==='large'" class="header-nav" #navElement>
    <mat-toolbar class="medium container-fluid" app-toolbar>
      <mat-toolbar-row class="medium-nav row">
        <div class="brand"><img [routerLink]="['/join-network']" class="col-lg-2 col-md-2 col-xl-2 logo" src="../assets/Spectrangle.png" alt="spectrangle logo"/></div>
        <div class="col-md-4 col-lg-4 col-xl-6"></div>
        <div class="medium-nav-sector col-md-4 col-lg-6 col-xl-4">
          <a *ngFor="let route of routes" class = "medium-nav-sector-a" [routerLink]="[route.fragment]" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}">{{route.link}}</a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </nav>
  <div class="bg-img-container"><img class="bg-img" [src]="bannerSrc" alt=""></div>
  <div class="container banner-main">
    <p class="font-weight-bold headline">
      {{headline}}
    </p>
    <button mat-raised-button color="primary" (click)='closeNav()' class="headline-button">{{headlineButton}}</button>
  </div>
</header>
<main>
  <router-outlet ></router-outlet>
</main>
<footer>
  <div class="footer-wrapper">
    <div class="container pt-5">
      <div class="row">
        <div class="col-lg-3 col-sm-6 d-flex col-12 mb-2">
          <div class="w-25"><img class="w-100" src="../assets/Spectrangle.png" alt="logo"></div>
          <span class="w-75 company-name">
            <h2>Spectrangle</h2>
            <h2>&copy;2021 Spectrangle Technologies</h2>
          </span>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 mb-2">
          <h2>Menu</h2>
          <a class='' [routerLink]="['/home']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}">Home</a>
          <a class='' [routerLink]="['/work-with-us']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}">Request service</a>
          <a class='' [routerLink]="['/our-culture']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}">Our culture</a>
          <a class='' [routerLink]="['/join-network']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}">Join us</a>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 mb-2">
          <h2>About Us</h2>
          <p>{{about_us}}</p>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 mb-2">
          <h2>Address</h2>
          <Address>
            {{address}}
          </Address>
          <p>
            Telphone: +2348172753648, +2348130962580
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>


