<header>
  <nav *ngIf="screenSize ==='small'" class="header-nav" #navElement>
    <mat-toolbar class="small app-toolbar">
      <mat-toolbar-row>
        <mat-icon (click)='toggleNav()' class="white-icon">menu</mat-icon>
        <span class="spacer-small"></span>
        <div class="brand"><img [routerLink]="['/join-network']" class="col-md-2 logo" src="../assets/Spectrangle.png" alt="spectrangle logo"/></div>
      </mat-toolbar-row>
      <mat-toolbar-row *ngIf="navState==='open'"><a class="small-nav-sector-a" (click)='toggleNav()' [routerLink]="['/home']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}">Home</a></mat-toolbar-row>
      <mat-toolbar-row *ngIf="navState==='open'"><a class="small-nav-sector-a" (click)='toggleNav()' [routerLink]="['/about-us']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}">About us</a></mat-toolbar-row>
      <mat-toolbar-row *ngIf="navState==='open'"><a class="small-nav-sector-a" (click)='toggleNav()' [routerLink]="['/our-culture']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}">Our culture</a></mat-toolbar-row>
      <mat-toolbar-row *ngIf="navState==='open'"><a class="small-nav-sector-a" (click)='toggleNav()' [routerLink]="['/join-network']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}">Join us</a></mat-toolbar-row>
    </mat-toolbar>
  </nav>

  <nav *ngIf="screenSize ==='medium' || screenSize ==='large'" class="header-nav" #navElement>
    <mat-toolbar class="medium container-fluid" app-toolbar>
      <mat-toolbar-row class="medium-nav row">
        <div class="brand"><img [routerLink]="['/join-network']" class="col-lg-2 col-md-2 col-xl-2 logo" src="../assets/Spectrangle.png" alt="spectrangle logo"/></div>
        <div class="col-md-4 col-lg-4 col-xl-6"></div>
        <div class="medium-nav-sector col-md-4 col-lg-6 col-xl-4">
          <a *ngFor="let route of routes" class = "medium-nav-sector-a" [routerLink]="[route.fragment]" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}">{{route.link}}</a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </nav>
  <div class="bg-img-container"><img class="bg-img" [src]="bannerSrc" alt=""></div>
  <div class="container banner-main">
    <p class="font-weight-bold headline">
      {{headline}}
    </p>
    <button mat-raised-button color="primary" (click)='closeNav()' class="headline-button">{{headlineButton}}</button>
  </div>
</header>
<main>
  <router-outlet ></router-outlet>
</main>
<footer>

</footer>


