<div class="wrapper">
  <div class="container section">
    <article class="row pt-5">
      <section class="col-lg-6 col-md-5 col-sm-12 content">
        <h1 class="content-header font-weight-bold">{{contentHeader}}</h1>
        <p class="content-body">
          {{contentBody}}
        </p>
      </section>
      <section class="col-lg-6 col-md-7 col-sm-12 dev-image-container"><img class="images" [src]="imageSrc" alt=""></section>
    </article>
  </div>
</div>
<div class="why-work-with-us-wrapper">
  <div class="container pt-5">
    <article class="row">
      <h1 class="col-12 col-md-6">
        <span class="x">Why work with us </span> <span class="y">at Spectrangle?</span>
      </h1>
      <p class="col-12 col-md-6">
        {{why_work_with_us}}
      </p>
    </article>
  </div>
</div>
<div class="card-wrapper">
  <div class="container pt-4">
    <article class="row">
      <app-feature-card  [cardTitle]="card_1_title" class="col-lg-3 mb-1 mb-sm-2 mb-md-3 col-md-6" [cardBody]="card_1_body" cardIcon="timeline"></app-feature-card>
      <app-feature-card  [cardTitle]="card_2_title" class="col-lg-3 mb-1 mb-sm-2 mb-md-3 col-md-6" [cardBody]="card_2_body" cardIcon="build"></app-feature-card>
      <app-feature-card  [cardTitle]="card_3_title" class="col-lg-3 mb-1 mb-sm-2 mb-md-3 col-md-6" [cardBody]="card_3_body" cardIcon="trending_up"></app-feature-card>
      <app-feature-card  [cardTitle]="card_4_title" class="col-lg-3 mb-1 mb-sm-2 mb-md-3 col-md-6"  [cardBody]="card_4_body" cardIcon="near_me"></app-feature-card>
    </article>
  </div>
</div>
<!--Bubble speech code-->
<div class="bubble-speech-wrapper">
  <div class="container pt-5 pb-5">
    <div class="bubble col-12" *ngIf="testimonial_.selected"><q class="comment">{{testimonial_.quote}}</q></div>
    <!--<div class="pointer" *ngIf="testimoniall.selected"></div>-->
  </div>
  <div class="container">
    <div class="row">
      <div class="avatar-more pb-3 col-lg-4 col-md-4 col-sm-4 col-6" *ngFor="let testimonial of testimonials" >
        <div class="testimonial">
          <div class="avatar">
            <img [src]="testimonial.imageSrc" alt="recommendator avatar" (mouseenter)="onMouseEnterTestimonial(testimonial)">
          </div>
          <div [class.avatar-detail-hidden]="!testimonial.selected">
            <h1 class="avatar-name mb-0">{{testimonial.title}}</h1>
            <h1 class="avatar-name mb-0">{{testimonial.name}}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="book-appointment-wrapper">
  <div class="container book-appointment">
    <div class="row">
      <div class="book-appointment-heading  col-sm-5 col-md-7">
        <span class="x">{{have_you_part1}}</span>
        <span class="y">{{have_you_part2}} </span>
        <button mat-raised-button class="mt-3 mb-3 d-block book-apointment-button" >{{book_appointment}}</button>
      </div>
      <div class=" col-sm-7 col-md-5 book-apointment-img-block">
        <img [src]="book_apointment_img" alt="book apointment image">
      </div>
    </div>
  </div>
</div>

<!--  <div class="pointer" *ngIf="recommendation[0].selected"></div>-->
