.content-header{
  color: white;
  font-family: 'Montserrat', sans-serif;
}
.content-body{
  color: gray;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
}
.content{
  line-height: 1.5rem;;
}
.dev-image-container{
  max-height: 300px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.images{
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.wrapper{
  background-color: rgba(0, 0, 0, 0.870);
}

.section{
  margin-top: 400px; /*change accordingly to ensure only the banner-main class of the app.component.html shows in the screen until scroll*/
}
/***card related styling***/
.card-wrapper{
  background-color: rgba(0, 0, 0, 0.877);
}

.why-work-with-us-wrapper{
  background-color: rgba(0, 0, 0, 0.866) !important;
}

.why-work-with-us-wrapper h1{
  font-family: 'Montserrat', sans-serif !important;
  font-weight: bold;
  font-size: 2rem;
}

.why-work-with-us-wrapper p, .comment{
  font-family: 'Montserrat', sans-serif;
  line-height: 1.7rem;
  font-size: 1.3rem;
}

/**Bubble speech style**/
.avatar-detail-hidden{
  display: none;
}
.testimonial{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.avatar{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 1px solid black;
}

.avatar-name{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.avatar-title{
  font-family: 'Montserrat', sans-serif;
}

.avatar-more{
  color: black;
}
.avatar-more *{
  margin-right: auto;
  margin-left: auto;
}

.avatar>img{
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.bubble-speech-wrapper{
  background-color: rgb(83, 195, 233);
}
.bubble {
	height: fit-content; /*shoud be latter set to fit content*/
	width: fit-content;
	background: ivory;
	display: block;
	margin: 0 auto;
	border-radius: 20px;
  color: black;
  padding: 50px;
}
.pointer {
	height: 40px;
	width: 40px;
	background: ivory;
	margin: 0 auto;
	transform: rotate(45deg);
	border-radius: 0 0 12px 0;
	margin-top: -22px;
	position: relative;
	left: calc(0.5vw - 50px);
}
.comment{
  text-align: left;
}
.blurred {
	background: gray;
	filter: blur(20px);
	position: relative;
	top: -315px;
/* 	transform: scale(1.05); */
	z-index: -1;
}
/*bubble speech styling ends*/

/**Book apointent**/
.book-appointment-wrapper{
  background-color: rgb(83, 195, 233);
  padding-top: 40px;
  padding-bottom: 40px;
}
.book-appointment{
  background-color: blue;
  height: fit-content;
  border-radius: 2rem;
}
.book-appointment-heading{
  font-family:'Montserrat', sans-serif;
  color: white;
  font-size: 2rem;
  line-height: 2rem;
  padding-top: 10px;
}
.book-apointment-img-block{
  width: 100%;
  height: 100%;
  padding: 0px;
}
.book-apointment-img-block img{
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

@media only screen and (min-width: 576px){
  .book-apointment-img-block img{
    border-bottom-left-radius: 0px;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }
}
@media only screen and (min-width: 600px){
  .section{
    margin-top: 200px;
  }
  .book-appointment-heading{
    padding-top: 15px;
  }
  .book-apointment-img-block img{
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }
}


@media only screen and (min-width: 750px){
  .section{
    margin-top: 400px; /*change accordingly to ensure only the banner-main class of the app.component.html shows in the screen until scroll*/
    margin-left: auto;
  }
  .dev-image-container{
    margin-left: 100px;
    margin-left: auto;
  }
  .wrapper{
    background-color: rgba(0, 0, 0, 0.868);
  }
  .x{
    display: block;
  }

  .y{
    display: block;
  }
  .why-work-with-us-wrapper h1{
    text-align: center;
  }
}


@media only screen and (min-width: 800px){
  .section{
    margin-top: 200px;
  }
  .book-appointment-heading{
    padding-top: 40px;
  }
}

@media only screen and (min-width: 991px){
  .section{
    margin-top: 500px; /*change accordingly to ensure only the banner-main class of the app.component.html shows in the screen until scroll*/
  }
  .dev-image-container{
    margin-left: 150px;
  }
  .wrapper{
    background-color: rgba(0, 0, 0, 0.866);
  }
  .book-appointment-heading{
    padding: 50px;
  }
}
